@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
    background: url(../img/body-bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4 {
    font-family: 'Open Sans', sans-serif;
}

/* Log In Style */

.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.content .form-control:focus {
    height: auto !important;
}

.checkbox {
    text-align: left;
    padding-left: 5px;
}

.account-wall
{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.account-wall .glyphicon
{
    font-size: 70px;
    color: #99999F;
}
.login-title
{
    color: #555;
    font-size: 26px;
    font-weight: 400;
    display: block;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.need-help
{
    margin-top: 10px;
}
.new-account
{
    display: block;
    margin-top: 10px;
}

/* End Login */

/* Dashboarg */

body {
    padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}


/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
    display: none;
}
@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 60px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 10px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        background-color: #f5f5f5;
        border-right: 1px solid #eee;
    }
}

/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}
.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}
.nav-sidebar > .active > a {
    color: #fff;
    background-color: #428bca;
}


/*
 * Main content
 */

.main {
    padding: 20px;
}
@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}
.main .page-header {
    margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
    margin-bottom: 30px;
    text-align: center;
}
.placeholders h4 {
    margin-bottom: 0;
}
.placeholder {
    margin-bottom: 20px;
}
.placeholder img {
    display: inline-block;
    border-radius: 50%;
}

.top-panel {
    background-color: rgba(0, 89, 150, 0.75) !important;
}
/* End Dashboarg */

.add-user {
    font-size: 20px;
    margin-top: 12px;
}

.add-user i {
    position: relative;
    top: 2px;
}

.bg-white {
    background: #fff;
}

.pl0 {
    padding-left: 0;
}

.user-create {
    padding: 20px;
}

.user-create .form-group {
    margin-bottom: 20px;
}

.jGrowl-notification {
    background-color: #BF4126;
    opacity: 0.95;
    width: 280px;
    padding: 20px 10px;
}

.jGrowl {
    font-family: RobotoDraft,Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 15px;
}

.table {
    background: rgba(255, 255, 255, 0.9);
}

.table tbody td {
    vertical-align: middle !important;
}

.table-hover > tbody > tr:hover {
    background-color: #E9E9E9;
}

.user-action i {
    cursor: pointer;
}

.mdi-action-delete {
    color: #DF2700;
    cursor: pointer;
}

.modal-content .modal-body {
    padding: 20px 24px 16px;
}

.modal-content .modal-header {
    border-bottom: 1px solid #E5E5E5;
    padding: 15px 24px 5px;
}

.modal-content .form-group label {
    font-size: 18px;
}

.permission_role label {
    display: inline-block;
    margin-right: 8px;
}

.profile {
    text-align: center;
}

.profile .panel-footer {
    font-size: 20px;
    padding: 7px 15px;
}

.facebook {
    background-color: #3B5998 !important;
}

#addPost textarea {
    border: 1px solid #b5b5b5;
    padding: 10px;
}

#addPost .btn {
    margin-top: 0;
}

.panel-heading {
    background-color: #43609C !important;
    color: #fff !important;
}

.nav > li > a:focus, .nav > li > a:hover {
    background-color: #518199;
    color: #fff !important;
}

.panel {
    border-radius: 5px;
}

@media only screen and ( max-width: 640px ) /* 640px */
{
    .grid
    {
        width: 100%;
        margin-left: 0;
    }
    .grid-item
    {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}

.btn-facebook {
    color: #fff !important;
    background-color: #3b5998 !important;
    border-color: rgba(0,0,0,0.2) !important;
}

.btn-google {
    color: #fff !important;
    background-color: #dd4b39 !important;
    border-color: rgba(0,0,0,0.2) !important;
}

.login .alert-warning {
    background-color: rgba(255, 87, 34, 0.55) !important;
}

.account {
     padding: 0px !important;
     margin-bottom: 10px !important;
 }

.account .panel-heading {
    background-color: #F2F3F4 !important;
    color: #283747 !important;
    padding: 0px !important;
}

.account .panel-title a {
    font-size: 18px;
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 15px ;
}

.account a:hover, .account a:focus {
    text-decoration: none;
    color: #34495E;
}

.account a .glyphicon {
    margin-right: 10px;
}

.load-info{
    text-align: center;
}

.show-info {
    display: block;
}

.web-property {
    box-shadow: 0 1px 6px 0 rgba(0,0,0,.12),0 1px 6px 0 rgba(0,0,0,.12) !important;
    margin-bottom: 5px !important;
}

.select-date input{
    border: 1px solid #d2d2d2;
    background: none;
}

.input-group {
    margin-top: 15px;
}

.form-group {
    margin-bottom: 0px;
}

.inputError {
    border: 1px solid red !important;
    box-shadow: 0px 0px 5px red;
}

#chartViews{
    width: 100%;
    height: 400px;
}

#visitsChart {
    width: 100%;
    height: 217px;
}

.generalStatistics{
    display: none;
}

.stat-item .panel-title{
    text-align: center;
}

.stat-item .panel-body{
    font-size: 25px;
    text-align: center;
}

.stat-item .panel-heading{
    padding: 15px 15px;
}

#startDate, #endDate {
    padding-left: 10px;
    font-size: 16px;
}

#preloader {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99999;
    width: 100%;
    height: 100%;
    overflow: visible;
    background: RGBA(242, 244, 244, 0.9) url(../img/load.gif) no-repeat center center;
}

.home-screen .panel-heading{
    background-color: #21618C !important;
    font-size: 19px;
}

.home-screen .panel-body{
    background-color: #E3EBF1 !important;
}

.delete-post {
    padding: 2px 20px;
    margin: 0px 1px;
}


