.login {
    margin-top: 50px;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.num_view h3 {
    font-size: 26px;
}

.num_view .panel-body i {
    font-size: 21px;
    top: 2px;
}

.num_view .panel-body {
    font-size: 22px;
}

.num_view .panel-footer span {
    display: inline-block;
    padding: 0px 5px;
    font-size: 15px;
}

.video-description {
    padding: 20px 0;
    font-size: 17px;
}

.control {
    position: relative;
}

.control .logout {
    position: absolute;
    top: 5px;
    right: 0;
}

.page-header {
    margin-top: 55px;
}

.video-description div {
    white-space: pre-wrap;
}

.grid-item h3 a:hover {
    text-decoration: none !important;
}

.subscriptions-list {
    height: 23px;
    overflow: hidden;
    margin-top: 5px;
}

.subscriptions-list img {
    height: 22px;
}

.subscriptions-list .media-heading a {
    font-size: 13px;
}

.subscriptions-list .media-heading a:hover {
    text-decoration: none;
}

.list-head {
    color: #1B2631;
    font-size: 17px;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 2px solid #1B4F72;
    padding-bottom: 2px;
    margin: 30px 14px 20px;
}

.playlists .panel-heading a {
    font-size: 18px;
    margin-top: 5px;
    color: #fff;
}

.playlists .panel-heading a:hover {
    text-decoration: none;
}

.playlists .panel-body img {
    width: 100%;
}

.video-description, .comments {
    background: #ffffff;
    margin: 15px 0;
    padding: 10px 0;
}